<div class="artist" ng-controller="artistCtrl" ng-init="showLinksArtist=false">
  <h2 class="artist-h1">artists</h2>

  <ul class="artist-ul">
    <li class="artist-li" ng-click="thisArtist(a.uid)" ng-repeat="a in Artist.results" ng-class="{'hover': showLinksArtist}" ng-mouseover="showLinksArtist=true" ng-mouseout="showLinksArtist=false">

        <p class="artist-li-p">{{a.data['artist.name'].value[0].text}}</p>
        <p class="artist-li-p-arrow" ng-show="showLinksArtist">->></p>

    </li>
  </ul>

</div>
