<div class="status" ng-controller="statusCtrl">


  <!-- <table>
    <tr>
      <td> -->

      <div class="status-content">
        <social-directive></social-directive>
        <div class="status-left">
          <p>{{ clock | date }}</p><p>{{ clock | date:'HH:mm:ss'}}</p>
        </div>

        <div class="status-right">
          <p>Los Angeles, California</p>
          <p>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            	 width="2000px" height="2000px" viewBox="0 0 2000 2000" style="enable-background:new 0 0 2000 2000;" xml:space="preserve">
            <circle style="fill:#FFFFFF;" cx="1000" cy="1000" r="990.222"/>
            <polygon points="1000,11.515 1221.916,694.501 1940.049,694.501 1359.067,1116.61 1580.983,1799.596 1000,1377.487
            	419.017,1799.596 640.933,1116.61 59.951,694.501 778.084,694.501 "/>
            </svg>

          </p>
        </div>
      </div>

      <!-- </td>
    </tr>
  </table> -->



</div>
