.collaborator{
  position: absolute;
  left:40vw;
  width: 30vw;
  height: 70vh;
  top:30vh;
  overflow-y: scroll;
}

.collaborator-h1{
  border-bottom: 1px solid #FFF;
}


.collaborator-ul{
  height: auto;
  .collaborator-li{
    height: 70px;
    width: 100%;
    display: block;
    line-height: 70px;
    border-bottom: 1px solid #FFF;
    p{
      display: block;
      line-height: 70px;
      height: 70px;
      width: 100%;
      text-align: center;
    }
  }
}
