.detail{
  position: absolute;
  width: 50vw;
  height: 100vh;
  right:0;
  top:0;
  overflow-y: scroll;
  // border-left: 0.5px solid grey;
  box-shadow: inset 0 0 11px -4px grey;
  // background-color: $white;
  @include respond-to(phone){
    position: relative;
    width: 100vw;
    overflow: auto;
    left: 0;
    top:auto;
    height: auto;
    // border-bottom: 1px solid #FFF;
  }
}

.detail-h1{
  margin-top: 70px;
  // border-bottom: 1px solid #FFF;
}

.detail-description{
  display: block;
  width: 90%;
  margin: auto;
  margin-top: $margin-top-p;
}

.detail-link{
  width: 90%;
  margin: auto;
  display: block;
  .detail-link-ul{
    display: block;
    width: 100%;
    .detail-link-li{
      width: auto;
      height: 20px;
      margin-left:10px;
      display: inline-block;
      &:nth-child(1){
        margin-left:0;
      }

      a{
        display: block;
        height: 20px;
        line-height: 20px;
      }
    }
  }
}



.detail-discography{
  position: relative;
  width: 100%;
  margin-top: $margin-top-block;
  .detail-discography-ul{
    width: 90%;
    margin: auto;
    .detail-discography-li{
      width: 100%;
      clear: both;
      margin-top: $margin-top-li;
      .detail-discography-cover{
        width: 40%;
        display: inline-block;
        position: relative;
      }
      &:nth-last-child(1){
        margin-bottom:$margin-top-li;
      }
      .detail-discography-li-links{
        display: inline-block;
        a{
          // width:30px;
          display: block;
          clear: both;
        }
      }
    }
  }
}
