.feed{
  display: block;
  width: 30vw;
  height: 85vh;
  border-left: 1px solid #FFF;
  position: absolute;
  right: 0;
  top:0;
  border-bottom: 1px solid #FFF;
  overflow-y: scroll;
  @include respond-to(phone){
    position: relative;
    width: 100vw;
    height: auto;
    overflow: auto;
    left: 0;
    top:auto;
    // border-top: 1px solid #FFF;
  }
}

.feed-ul{
  width: 90%;
  display: block;
  margin: auto;
  .feed-li{
    width: 100%;
    text-align: center;
    margin-bottom: $margin-top-p;
    &:nth-child(1){
      margin-top: $margin-top-p;
    }
  }
}
