.logo{
  width: 30vw;
  height: 20vh;
  position: absolute;
  left: 40vw;
  top:0vh;
  border-bottom: #FFFFFF solid 1px;
  @include respond-to(phone){
    position: relative;
    width: 100vw;
    left: 0;
    top:auto;
  }
  svg{
    width: 90%;
    height: 90%;
    display: block;
    margin: auto;
  }
}
