.social{
  position: relative;
  display: inline-block;
  // width: 30vw;
  // right:30vw;
  // bottom:$margin-sides;
  // height: 10vh;
  z-index: 99;
  // border-bottom: 1px solid #FFF;
  // background-color: $white;
  @include respond-to(phone){
    position: relative;
    width: 100vw;
    left: 0;
    top:auto;
  }
}

.social-content{
  position: relative;
  width: 20vw;
  margin: auto;
  white-space: nowrap;
  @include respond-to(phone){
    width: 80vw;
  }
  a{
    display: inline-block;
    width: 5vw;
    // height: 10vh;
    @include p();
    // line-height: 10vh!important;
    vertical-align: middle;
    text-align: center;
    @include respond-to(phone){
      width: 20vw;
    }
  }
}
