.social{
  position: absolute;
  width: 30vw;
  left:40vw;
  top:20vh;
  height: 10vh;
  border-bottom: 1px solid #FFF;
}

.social-content{
  position: relative;
  width: 20vw;
  margin: auto;
  white-space: nowrap;
  a{
    display: inline-block;
    width: 5vw;
    height: 10vh;
    @include p();
    line-height: 10vh;
    vertical-align: middle;
    text-align: center;
  }
}
