.social{
  position: absolute;
  width: 30vw;
  left:40vw;
  top:20vh;
  height: 10vh;
  border-bottom: 1px solid #FFF;
  @include respond-to(phone){
    position: relative;
    width: 100vw;
    left: 0;
    top:auto;
  }
}

.social-content{
  position: relative;
  width: 20vw;
  margin: auto;
  white-space: nowrap;
  @include respond-to(phone){
    width: 80vw;
  }
  a{
    display: inline-block;
    width: 5vw;
    height: 10vh;
    @include p();
    line-height: 10vh!important;
    vertical-align: middle;
    text-align: center;
    @include respond-to(phone){
      width: 20vw;
    }
  }
}
